html, body {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-template-rows: 1fr;
    background: #C4C4C4;
    height: 100vh;
    padding:  60px;
    grid-gap: 20px
}
.sidebar {
    grid-area: 1/1/2/2; /* row-start/column-start/row-end/column-end */
    background-color: #CECECE;
}
.content-area {
    grid-area: 1/2/2/3; /* row-start/column-start/row-end/column-end */
    background-color: #CECECE;
}