html, body {
    margin: 0;
}
.wrapper {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.centered-box {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-areas: "white1 brown1"
    "brown2 white2";
    background-color: #CECECE;
}
.box-1 {
    grid-area: white1;
}
.box-2 {
    grid-area: brown1;
}
.box-3 {
    grid-area: brown2;
}
.box-4 {
    grid-area: white2;
}

.box-2, .box-3 {
    background-color: #383838;
}
.box-1, .box-4 {
    background-color: #CECECE;
}

